.wrap {
margin: 40px;
}

input {
	width: 200px;
	float:right;
	margin: 10px 0;
}

label {
	width: 200px;
	padding: 10px 0;
}
button{
	float:left;
	clear:both;
}

.form-group {
	width: 300px;
	overflow: auto;
	margin-left: 25px;
}
form{
		height: 160px;
		/*background-color: orange;*/
		margin-top: 30px;
}

#new-movie {
	margin-top: 15px;
}

.order {
	margin-left: 15px;
	margin-bottom: 15px;
}

#sort {

}

@font-face{
	font-family: Lato-Black;
	src: url(../css/Lato-Black.ttf);
}

@font-face{
	font-family: LatoHair;
	src: url(../css/Lato-Hairline.ttf);
}
*{
  margin:0;
}
body{
  font-family: LatoHair;
  padding: 0px;
}
th{
  font-family:  Lato-Black;
  color: white;
}
table{
  border: 1px solid blue;
  border-collapse: collapse;
  margin: 4px;
}
tr{
  border-collapse: collapse;
  background-color: white;
}

td, th{
  padding: 4px;
  text-align: center;
}

tr:nth-of-type(2n+2) {
  background: lightblue;
}

th{
  background-color: blue;
}
